.checkbox-checked {
  text-decoration: line-through;
}

.recipe-image {
  max-height: 180px;
  width: 100%;
}

@media only screen and ( min-width : 481px ){
  .recipe-image {
    max-width: 400px;
  }
}
