.footer-container {
  display: flex;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
  padding: 10px;
  background-color: #f0371d;
}

.footer-container a{
  background-color: #f0371d;
  border: #f0371d;
}

.footer-container a:active{
  background-color: #f0371d;
  border: #f0371d;
  outline: none;
}

.footer-container a:hover{
  background-color: #f0371d;
  border: #f0371d;
  outline: none;
}

.icon-white-footer {
  filter: invert(100%);
}
