.card-title {
  color: #f0371d;
}

.container-meal, .container-make {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.container-meal a, .container-make a {
  text-decoration: none;
}

.card {
  border: 1px solid #00000025;
  border-radius: 8px;
}